.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: var(--gap)
}

@media (max-width: 899px) {
    .header {
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}


.menu-toggle {
    display: inline-block;
    position: fixed;
    z-index: 10;
}
@media (min-width: 900px) {
    .menu-toggle {
        display: none;
   }
}
@media (max-width: 899px) {
    .menu-toggle {
        top: 20px;
    }

    .menu {
        padding-top: 40px;
        position: fixed;
        background: #fff;
        height: 100%;
        z-index: 1;
        top: 0;
        right: 0;
    }
}

.menu {
    display: none;
    list-style: none;
    margin: 0;
}

@media (min-width: 900px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
   }
}

.logo,
#menu {
    margin: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: end;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.menu.open {
    display: block;
}
.menu >
li >
a {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: left;
    background: none;
    border: 0;
    border-radius: 0;
    font: inherit;
}
@media (min-width: 900px) {
    .menu >
    li >
    a {
        display: inline-block;
        width: auto;
   }
}
.menu >
li >
a:hover, .menu > li > a:focus {
    cursor: pointer;
}
.menu [aria-current="page"]::after {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5em;
    content: '\2666'
   ;
}
.menu [target="_blank"]::after {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5em;
    content: "\039e"
   ;
}

